In [4]:
import pandas as pd
import matplotlib as plt
import numpy as np
pd.set_option('display.max_columns', 500)

Importing both datasets

In [5]:
hawkeye = pd.read_stata('/Users/lucaslippman/Daniel/MergeDaniel/HKdata_3matches.dta')

challenge = pd.read_stata('/Users/lucaslippman/Daniel/MergeDaniel/Challenges_3matches.dta')

First Thing I coded here was the algorithim to find the nearest line that the ball landed in. This was incorporated with the hawkeye dataset

In [6]:
import math
def find_nearest_line(coord):
    x, y = coord
    distances = {
        "x=-11.8": abs(x + 11.8),
        "x=11.8": abs(x - 11.8),
        "y=4.115": abs(y - 4.115),
        "y=-4.115": abs(y + 4.115),
        "x=6.4": abs(x + 6.4),
        "x=-6.4": abs(x - 6.4),
        "x=0": abs(x),
        "y=0": abs(y)
    }
    closest_line = min(distances, key=distances.get)
    return closest_line

def find_nearest_acronym(coord):
    x, y = coord
    distances = {
        "x=-11.8": abs(x + 11.8),
        "x=11.8": abs(x - 11.8),
        "y=4.115": abs(y - 4.115),
        "y=-4.115": abs(y + 4.115),
        "x=6.4": abs(x + 6.4),
        "x=-6.4": abs(x - 6.4),
        "x=0": abs(x),
        "y=0": abs(y)
    }
    closest_line = min(distances, key=distances.get)
    
    if closest_line in ["y=4.115", "y=-4.115"]:
        acronym = "F"
    elif closest_line in ["x=-11.8", "x=11.8"]:
        acronym = "B"
    elif closest_line in ["x=-6.4", "x=6.4"]:
        acronym = "S"
    elif closest_line == "x=0":
        acronym = "N"
    elif closest_line == "y=0" and -11.8 < x < 11.8:
        acronym = "C"
    else:
        acronym = "B" if x < -11.8 or x > 11.8 else "C"
        
    return acronym

def find_label(coord):
    x, y = coord
    closest_line = find_nearest_line(coord)
    if closest_line == "y=0" and -11.8 < x < 11.8:
        acronym = "C"
    else:
        acronym = find_nearest_acronym(coord)
    if x == 0:
        side = ""
    elif x < 0:
        side = "R"
    else:
        side = "L"
    return side + acronym


hawkeye['label'] = hawkeye.apply(lambda row: find_label((row['x1'], row['y1'])), axis=1)

Making some columns for hawkeye, like set which adds up the current scores of sets +1. (so if set is 0 0 it will be set 1 ). Also, add up games within a set. For example, 5+4 = 9, so that its easy to match with challenge dataset

In [7]:
hawkeye["set"] = hawkeye["scoresetserver"] + hawkeye["scoresetreceiver"]
hawkeye["sum_games"] = hawkeye["scoregameserver"] + hawkeye["scoregamereceiver"]
hawkeye["dist_abs"] = abs(hawkeye["dist"])

Making some more new columns. "Call" is a column that takes hawk_in and converts it to in and out. I did this for my viewing purposes. Also, i divided the distance by 1000 so it would be in metres and not mm.

In [8]:
challenge["call"] = challenge["hawk_in"].apply(lambda x: "in" if x == 1 else "out")
challenge["distance"] = challenge["distance_mm"] / 1000

This next code added sum_games to the challenge dataset. I did this by checking what the first set without NAN's was and then adding those values up.

In [9]:
def add_sets(row):
    if pd.notna(row["set3_chal"]) and pd.notna(row["set3_opp"]):
        return row["set3_chal"] + row["set3_opp"]
    elif pd.notna(row["set2_chal"]) and pd.notna(row["set2_opp"]):
        return row["set2_chal"] + row["set2_opp"]
    else:
        return row["set1_chal"] + row["set1_opp"]
    
    
challenge["sum_games"] = challenge.apply(add_sets, axis=1)
challenge["out"] = challenge["call"].replace({'out': 1, 'in': 0})

Exported the hawkeye and challenge datasets, now reading them back into the code

In [10]:
challenge = pd.read_csv("/Users/lucaslippman/Daniel/challenge.csv")
hawkeye = pd.read_csv("/Users/lucaslippman/Daniel/hawkeyey.csv")
hawkeye['set']= hawkeye['set'] +1

This is code that converts tennis points into values. I make a key assumption here because our challenge dataset doesn't give us the values of advantage points. In order to match these points then, we must assume that all values above 3 are "50"

In [11]:
def tennis_points(value):
    value = int(value)
    if value == 0:
        return 0
    elif value == 1:
        return 15
    elif value == 2:
        return 30
    elif value == 3:
        return 40
    else:
        return 50

# Split the 'score' column into two columns
hawkeye[['server_score', 'receiver_score']] = hawkeye['score'].str.split(' ', expand=True)

# Convert the tennis points to their actual values
hawkeye[['server_score', 'receiver_score']] = hawkeye[['server_score', 'receiver_score']].applymap(tennis_points)

Make a new column called "comb_game_x" which adds up the points within a game. Example: 40 30 = 70. This will make easy matching with challenge dataset.

In [12]:
hawkeye['comb_game_x'] = hawkeye['server_score'] + hawkeye['receiver_score']

This code limits the values of the comb_game_x  to 90 since we have no way of matching these values with challenge dataset if not. Since challenge data set does ADV points like NAN 50, we make that value 90 as well. Also, if there is a scoreline that is NAN NAN, then that is assumed to be 0 0 according to our research.

In [13]:
hawkeye['comb_game_x'] = hawkeye['comb_game_x'].apply(lambda x: min(x, 90))

# Add the 'comb_game_y' column based on the conditions
challenge['comb_game_y'] = challenge.apply(lambda row: 90 if row['game_chal'] == 50 or row['game_opp'] == 50 else row['game_chal'] + row['game_opp'], axis=1)

hawkeye['comb_game_x'] = hawkeye['comb_game_x'].astype(float)
challenge['comb_game_y'] = challenge['comb_game_y'].astype(float)
challenge['comb_game_y'] = challenge['comb_game_y'].fillna(0)

Now, we will merge the datasets together to find rows that match. We do this by matching it through the set, the games, and the torunament name first. This reduces the dataframe down to 1332 rows. Also, adds some rows. number_hawkeye shows which hawkeye row has been merged. number_challenge shows the number row of the challenge dataset

In [14]:
def merge_condition(row):
    return (
        row["set_x"] == row["set_y"]
        and row["sum_games_x"] == row["sum_games_y"]
        and row['tournament_x'] == row['tournament_y']

    )

    

# Perform a cross join to combine all possible pairs of rows
hawkeye["key"] = 1
challenge["key"] = 1
merged_df = pd.merge(hawkeye, challenge, on="key").drop("key", axis=1)

# Filter the rows based on the merge_condition
merged_df["merge_condition"] = merged_df.apply(merge_condition, axis=1)
merged_df = merged_df[merged_df["merge_condition"]]

# Drop the duplicate columns and the merge_condition column
merged_df = merged_df.drop(
    columns=["set_y", "sum_games_y", "out_y", "merge_condition"]
)

# Rename the 'number' column from the 'challenge' DataFrame to avoid confusion
merged_df = merged_df.rename(columns={"number": "number_hawkeye", "Unnamed: 0": "number_challenge"})
cols_to_move = ['number_hawkeye', 'number_challenge','dist_abs','score','game_chal','game_opp', 'hawk_in','challenge_won','comb_game_x','comb_game_y']
merged_df = merged_df[[col for col in merged_df.columns if col not in cols_to_move] + cols_to_move]
merged_df = merged_df.sort_values(by="number_challenge")

In [15]:
merged_df

,server,receiver,scorer,impact,x1,y1,foldername_x,tournament_x,iiid,gender,scoreserver,scorereceiver,iid1,idmatch,idinpoint,bounce,iid2,scorer2,volley,puttheball,doublebounce,alreadydoublebounce,issueplayerside,dist,out_x,alreadyout,errorscoregame,inside,player1,scoregameplayer1,scoregameplayer2,scoresetserver,scoresetreceiver,scoregameserver,scoregamereceiver,label,set_x,sum_sets,sum_games_x,server_score,receiver_score,tournament_id,challenger1_id,round,opponent1_id,match_time,set1_chal,set1_opp,set2_chal,set2_opp,set3_chal,set3_opp,match_challenge_count,challenges_left,call_in,distance_mm,line,player_stopped,ump_comments,umpire_challenger_ord,tournament_y,challenger_name,opponent_name,min,max,foldername_y,serve,chal_served_point,call,distance,number_hawkeye,number_challenge,dist_abs,score,game_chal,game_opp,hawk_in,challenge_won,comb_game_x,comb_game_y
26554,LOPEZ,DAVYDENKO,-1,0.0,-6.651841,-1.147098,SemiLopezDavydenko,DubaiMens08,570970,male,1,3,127699,573,1,1,92500,-1,0,server,0,0,NaN,-0.123161,1,0,19.047619,0,0,3,1,1,1,1,2,RS,3,4,3,15,40,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,781,0,0.123161,1 3,15.0,40.0,0,0,55.0,55.0
26486,LOPEZ,DAVYDENKO,-1,9.0,5.170329,-3.076782,SemiLopezDavydenko,DubaiMens08,570968,male,0,2,127697,573,4,4,92498,-1,0,receiver,0,0,NaN,1.093471,0,0,19.047619,1,0,3,1,1,1,1,2,LF,3,4,3,0,30,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,779,0,1.093471,0 2,15.0,40.0,0,0,30.0,55.0
26690,LOPEZ,DAVYDENKO,-1,3.0,5.481175,-0.787332,SemiLopezDavydenko,DubaiMens08,570974,male,1,3,127701,573,2,2,92501,-1,0,receiver,0,0,NaN,3.346154,0,1,19.047619,1,0,3,1,1,1,1,2,LC,3,4,3,15,40,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,785,0,3.346154,1 3,15.0,40.0,0,0,55.0,55.0
26656,LOPEZ,DAVYDENKO,-1,0.0,-6.651841,-1.147098,SemiLopezDavydenko,DubaiMens08,570973,male,1,3,127701,573,1,1,92501,-1,0,server,0,0,NaN,-0.123161,1,0,19.047619,0,0,3,1,1,1,1,2,RS,3,4,3,15,40,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,784,0,0.123161,1 3,15.0,40.0,0,0,55.0,55.0
26622,LOPEZ,DAVYDENKO,0,NaN,NaN,NaN,SemiLopezDavydenko,DubaiMens08,570972,male,1,3,127700,573,1,0,92501,-1,0,server,0,0,NaN,NaN,1,0,19.047619,0,0,3,1,1,1,1,2,LB,3,4,3,15,40,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,783,0,NaN,1 3,15.0,40.0,0,0,55.0,55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97953,ANCIC,MURRAY,1,0.0,5.682459,3.863144,FinalMurayAncic,Marseille08,1483683,male,1,1,335650,1543,1,1,242990,1,0,server,0,0,NaN,0.838794,0,0,24.561403,1,1,3,4,0,1,3,3,LF,2,7,6,15,15,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2880,33,0.838794,1 1,0.0,0.0,1,1,30.0,0.0
97987,ANCIC,MURRAY,1,3.0,-6.918005,-0.699395,FinalMurayAncic,Marseille08,1483684,male,1,1,335650,1543,2,2,242990,1,0,receiver,0,0,NaN,3.460787,0,0,24.561403,1,1,3,4,0,1,3,3,RS,2,7,6,15,15,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2881,33,3.460787,1 1,0.0,0.0,1,1,30.0,0.0
98021,ANCIC,MURRAY,1,6.0,7.402990,3.179478,FinalMurayAncic,Marseille08,1483685,male,1,1,335650,1543,3,3,242990,1,0,server,0,0,NaN,0.973252,0,0,24.561403,1,1,3,4,0,1,3,3,LF,2,7,6,15,15,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2882,33,0.973252,1 1,0.0,0.0,1,1,30.0,0.0
97647,ANCIC,MURRAY,-1,18.0,7.695073,-3.607275,FinalMurayAncic,Marseille08,1483674,male,1,0,335647,1543,7,7,242988,-1,0,server,0,0,NaN,0.545658,0,0,24.561403,1,1,3,4,0,1,3,3,LF,2,7,6,15,0,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2871,33,0.545658,1 0,0.0,0.0,1,1,15.0,0.0
98905,ANCIC,MURRAY,-1,27.0,-5.450202,-2.709154,FinalMurayAncic,Marseille08,1483711,male,2,3,335655,1543,10,10,242993,-1,0,receiver,0,0,NaN,1.430702,0,0,24.561403,1,1,3,4,0,1,3,3,RS,2,7,6,30,40,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2908,33,1.430702,2 3,0.0,0.0,1,1,70.0,0.0

Here, for every number_challenge possible, I am organizing the rows of hawkeye. I am doing this so the last hawkeye row of a point will be at the end so that we can determine what is the last point in a score and the first point.

In [16]:
merged_df.sort_values(['number_challenge', 'number_hawkeye'], inplace=True)

# reset the index
merged_df.reset_index(drop=True, inplace=True)

Here, I am adding conditions that reduce the dataset down to serves and final points of scores. I use the idinpoint ==1 to find serves, and for final ball in a score, i identify when a new point starts and shift that marker up 1 row.

In [17]:
merged_df['comb_game_x_change'] = ((merged_df['comb_game_x'].diff() != 0))
merged_df['comb_game_y_change'] = ((merged_df['idinpoint'] == 1))

merged_df['comb_game_x_change'] = merged_df['comb_game_x_change'].shift(-1).fillna(0).astype(int)
merged_df.dropna(subset=['x1', 'y1'], inplace=True)

This creates the dataframe with the restrictions of serves and final points of . Here is the new dataframe below. We go from 1332 to 473

In [18]:
filtered_df = merged_df[(merged_df['comb_game_x_change'] == 1) | (merged_df['comb_game_y_change'] == True)]
filtered_df

,server,receiver,scorer,impact,x1,y1,foldername_x,tournament_x,iiid,gender,scoreserver,scorereceiver,iid1,idmatch,idinpoint,bounce,iid2,scorer2,volley,puttheball,doublebounce,alreadydoublebounce,issueplayerside,dist,out_x,alreadyout,errorscoregame,inside,player1,scoregameplayer1,scoregameplayer2,scoresetserver,scoresetreceiver,scoregameserver,scoregamereceiver,label,set_x,sum_sets,sum_games_x,server_score,receiver_score,tournament_id,challenger1_id,round,opponent1_id,match_time,set1_chal,set1_opp,set2_chal,set2_opp,set3_chal,set3_opp,match_challenge_count,challenges_left,call_in,distance_mm,line,player_stopped,ump_comments,umpire_challenger_ord,tournament_y,challenger_name,opponent_name,min,max,foldername_y,serve,chal_served_point,call,distance,number_hawkeye,number_challenge,dist_abs,score,game_chal,game_opp,hawk_in,challenge_won,comb_game_x,comb_game_y,comb_game_x_change,comb_game_y_change
0,LOPEZ,DAVYDENKO,-1,0.0,-6.034672,-0.344506,SemiLopezDavydenko,DubaiMens08,570954,male,0,0,127694,573,1,1,92495,-1,0,server,0,0,NaN,0.393968,0,0,19.047619,1,0,3,1,1,1,1,2,RC,3,4,3,0,0,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,765,0,0.393968,0 0,15.0,40.0,0,0,0.0,55.0,0,True
5,LOPEZ,DAVYDENKO,-1,15.0,13.387200,2.918488,SemiLopezDavydenko,DubaiMens08,570959,male,0,0,127694,573,6,6,92495,-1,0,receiver,0,0,NaN,-1.406800,1,1,19.047619,0,0,3,1,1,1,1,2,LF,3,4,3,0,0,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,770,0,1.406800,0 0,15.0,40.0,0,0,0.0,55.0,1,False
6,LOPEZ,DAVYDENKO,1,0.0,-6.712499,1.182852,SemiLopezDavydenko,DubaiMens08,570960,male,0,1,127695,573,1,1,92496,1,0,server,0,0,NaN,-0.173002,1,0,19.047619,0,0,3,1,1,1,1,2,RS,3,4,3,0,15,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,771,0,0.173002,0 1,15.0,40.0,0,0,15.0,55.0,0,True
8,LOPEZ,DAVYDENKO,-1,0.0,-5.699979,2.568540,SemiLopezDavydenko,DubaiMens08,570962,male,0,1,127696,573,1,1,92497,-1,0,server,0,0,NaN,0.825438,0,0,19.047619,1,0,3,1,1,1,1,2,RS,3,4,3,0,15,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,773,0,0.825438,0 1,15.0,40.0,0,0,15.0,55.0,0,True
10,LOPEZ,DAVYDENKO,-1,6.0,-8.020497,-4.761695,SemiLopezDavydenko,DubaiMens08,570964,male,0,1,127696,573,3,3,92497,-1,0,server,0,0,NaN,-0.604794,1,0,19.047619,0,0,3,1,1,1,1,2,RF,3,4,3,0,15,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,775,0,0.604794,0 1,15.0,40.0,0,0,15.0,55.0,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,ANCIC,MURRAY,0,0.0,6.387270,4.442170,FinalMurayAncic,Marseille08,1483692,male,2,2,335652,1543,1,1,242992,-1,0,server,0,0,NaN,0.145400,0,0,24.561403,1,1,3,4,0,1,3,3,LS,2,7,6,30,30,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2889,33,0.145400,2 2,0.0,0.0,1,1,60.0,0.0,0,True
1308,ANCIC,MURRAY,-1,0.0,5.940933,3.678801,FinalMurayAncic,Marseille08,1483693,male,2,2,335653,1543,1,1,242992,-1,0,server,0,0,NaN,0.591172,0,0,24.561403,1,1,3,4,0,1,3,3,LF,2,7,6,30,30,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2890,33,0.591172,2 2,0.0,0.0,1,1,60.0,0.0,0,True
1315,ANCIC,MURRAY,-1,21.0,12.734770,-1.847751,FinalMurayAncic,Marseille08,1483700,male,2,2,335653,1543,8,8,242992,-1,0,server,0,1,NaN,-0.780310,1,0,24.561403,0,1,3,4,0,1,3,3,LB,2,7,6,30,30,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2897,33,0.780310,2 2,0.0,0.0,1,1,60.0,0.0,1,False
1316,ANCIC,MURRAY,0,0.0,6.009051,-4.317004,FinalMurayAncic,Marseille08,1483701,male,2,3,335654,1543,1,1,242993,-1,0,server,0,0,NaN,0.525740,0,0,24.561403,1,1,3,4,0,1,3,3,LF,2,7,6,30,40,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2898,33,0.525740,2 3,0.0,0.0,1,1,70.0,0.0,0,True
1317,ANCIC,MURRAY,-1,0.0,4.763698,-3.984589,FinalMurayAncic,Marseille08,1483702,male,2,3,335655,1543,1,1,242993,-1,0,server,0,0,NaN,1.754469,0,0,24.561403,1,1,3,4,0,1,3,3,LF,2,7,6,30,40,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2899,33,1.754469,2 3,0.0,0.0,1,1,70.0,0.0,0,True

Now we have multiple possibities to match these points, either its a serve or its not a serve!. What I did here is create an algorithim that matches serves in both datasets and final points in both datasets. I do this by converting the idinpoint to a binary variable: if idinpoint ==1 thats a serve. If it doesn't, thats the final point. And we have that variable in the challenge dataset. So, all we have to do is match those two. Also, I made sure to remove the potential replayed points from this classification as if a point is replayed we don't know if it will be in the dataset.

In [19]:
def filter_rows(group):
    # Convert 'idinpoint' to binary variable: 1 if it is a serve, 0 if it is not a serve
    group['idinpoint'] = group['idinpoint'].apply(lambda x: 1 if x == 1 else 0)
    
    # Identify rows where 'challenge_won' and 'comb_game_x' are both 1
    special_rows = (group['challenge_won'] == 1) & (group['comb_game_x'] == 1)
    
    # Check if there are any rows where 'idinpoint' matches 'serve', or it's a special row
    matches = special_rows | (group['idinpoint'] == group['serve'])
    
    # If there are any matches or 'idinpoint' and 'serve' are both not 1, return those rows
    # If there are no matches, return all rows
    return group[matches | ((group['idinpoint'] != 1) & (group['serve'] != 1))] if matches.any() else group

# Group the dataframe by 'number_challenges_2' and 'score' and apply the 'filter_rows' function to each group
df = filtered_df.groupby(['number_challenge', 'score']).apply(filter_rows).reset_index(drop=True)

Now, we will merge our dataset down to the 1 to 1. I have multiple steps to do this. First, my algorithim finds if there are any points that match in both datasets (example 15 15 and 15 15) and then reduces the rows down to that. After that, the algorithim finds the closest distance of each point. If there aren't any matching points in both datasets, then the algorithim finds the closest distance to match.

In [20]:
def select_desired_row(group):
    # Select rows where 'comb_game_x' and 'comb_game_y' are equal
    same_comb_game = group[group['comb_game_x'] == group['comb_game_y']]
    
    # If there are suitable 'comb_game_x' and 'comb_game_y' values
    if not same_comb_game.empty:
        # Find the index of the row with the minimum difference between 'dist_abs' and 'distance' for suitable rows
        min_diff_index = (same_comb_game['dist_abs'] - same_comb_game['distance']).abs().idxmin()
        # Return the row with the minimum difference for suitable rows
        return same_comb_game.loc[min_diff_index]
    else:
        # If either 'comb_game_x' or 'comb_game_y' has missing values (NaN) in the group, or there are no suitable rows
        if group['comb_game_x'].isna().any() or group['comb_game_y'].isna().any() or same_comb_game.empty:
            # Find the index of the row with the minimum difference between 'dist_abs' and 'distance'
            min_diff_index = (group['dist_abs'] - group['distance']).abs().idxmin()
            # Return the row with the minimum difference
            return group.loc[min_diff_index]

# Group the dataframe by 'number_challenges_2' and apply the 'select_desired_row' function to each group


result = filtered_df.groupby('number_challenge').apply(select_desired_row).reset_index(drop=True)

TWO POINTS WERE NOT ABLE TO BE MATCHED SO THE ALGORITHIM FINDS NEAREST DISTANCE. THose points are row 30 and row 17

In [21]:
result

,server,receiver,scorer,impact,x1,y1,foldername_x,tournament_x,iiid,gender,scoreserver,scorereceiver,iid1,idmatch,idinpoint,bounce,iid2,scorer2,volley,puttheball,doublebounce,alreadydoublebounce,issueplayerside,dist,out_x,alreadyout,errorscoregame,inside,player1,scoregameplayer1,scoregameplayer2,scoresetserver,scoresetreceiver,scoregameserver,scoregamereceiver,label,set_x,sum_sets,sum_games_x,server_score,receiver_score,tournament_id,challenger1_id,round,opponent1_id,match_time,set1_chal,set1_opp,set2_chal,set2_opp,set3_chal,set3_opp,match_challenge_count,challenges_left,call_in,distance_mm,line,player_stopped,ump_comments,umpire_challenger_ord,tournament_y,challenger_name,opponent_name,min,max,foldername_y,serve,chal_served_point,call,distance,number_hawkeye,number_challenge,dist_abs,score,game_chal,game_opp,hawk_in,challenge_won,comb_game_x,comb_game_y,comb_game_x_change,comb_game_y_change
0,LOPEZ,DAVYDENKO,-1,0.0,-6.651841,-1.147098,SemiLopezDavydenko,DubaiMens08,570970,male,1,3,127699,573,1,1,92500,-1,0,server,0,0,NaN,-0.123161,1,0,19.047619,0,0,3,1,1,1,1,2,RS,3,4,3,15,40,6,68,4,202,107,6.0,4.0,4.0,6.0,1.0,2.0,7,1,0,121,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.121,781,0,0.123161,1 3,15.0,40.0,0,0,55.0,55.0,0,True
1,DAVYDENKO,LOPEZ,1,0.0,-6.414097,2.683151,SemiLopezDavydenko,DubaiMens08,570793,male,1,0,127654,573,1,1,92466,1,0,server,0,0,NaN,0.124471,0,0,0.000000,1,1,5,4,0,1,4,4,RS,2,9,8,15,0,6,68,4,202,82,6.0,4.0,4.0,4.0,NaN,NaN,4,2,1,132,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,0.0,in,0.132,604,1,0.124471,1 0,0.0,15.0,1,0,15.0,15.0,0,True
2,LOPEZ,DAVYDENKO,0,0.0,6.629273,3.591878,SemiLopezDavydenko,DubaiMens08,570225,male,0,2,127501,573,1,1,92358,0,0,server,0,0,NaN,-0.092159,1,0,18.181818,0,0,2,0,0,0,0,1,LS,1,2,1,0,30,6,68,4,202,4,0.0,1.0,NaN,NaN,NaN,NaN,1,2,0,86,LS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,1.0,out,0.086,37,2,0.092159,0 2,0.0,30.0,0,0,30.0,30.0,0,True
3,LOPEZ,DAVYDENKO,-1,0.0,6.443140,0.441272,SemiLopezDavydenko,DubaiMens08,570919,male,2,0,127683,573,1,1,92487,-1,0,server,0,0,NaN,0.097317,0,0,0.000000,1,0,1,1,1,1,0,1,LS,3,2,1,30,0,6,68,4,202,98,6.0,4.0,4.0,6.0,0.0,1.0,5,2,1,4,RB,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,0,NaN,out,0.004,730,3,0.097317,2 0,15.0,15.0,0,1,30.0,30.0,0,True
4,DAVYDENKO,LOPEZ,-1,18.0,10.686390,-4.157564,SemiLopezDavydenko,DubaiMens08,570420,male,0,1,127553,573,7,7,92395,-1,0,server,0,0,NaN,-0.009434,1,0,0.000000,0,1,4,5,0,0,4,4,LF,1,9,8,0,15,6,202,4,68,30,4.0,4.0,NaN,NaN,NaN,NaN,2,1,0,6,LF,0,NaN,1,DubaiMens08,Nikolay Davydenko,Feliciano López,68,202,SemiLopezDavydenko,0,NaN,out,0.006,231,4,0.009434,0 1,0.0,15.0,0,0,15.0,15.0,1,False
5,LOPEZ,DAVYDENKO,-1,0.0,-6.034672,-0.344506,SemiLopezDavydenko,DubaiMens08,570954,male,0,0,127694,573,1,1,92495,-1,0,server,0,0,NaN,0.393968,0,0,19.047619,1,0,3,1,1,1,1,2,RC,3,4,3,0,0,6,68,4,202,105,6.0,4.0,4.0,6.0,1.0,2.0,6,2,0,26,RN,1,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,0,NaN,out,0.026,765,5,0.393968,0 0,NaN,NaN,0,0,0.0,0.0,0,True
6,DAVYDENKO,LOPEZ,0,0.0,-6.606727,3.722899,SemiLopezDavydenko,DubaiMens08,570531,male,2,3,127582,573,1,1,92415,1,0,server,0,0,NaN,-0.074273,1,0,0.000000,0,1,1,0,0,1,0,0,RS,2,1,0,30,40,6,68,4,202,46,6.0,4.0,0.0,0.0,NaN,NaN,3,2,1,66,RS,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,1,0.0,out,0.066,342,6,0.074273,2 3,40.0,30.0,0,1,70.0,70.0,0,True
7,DAVYDENKO,LOPEZ,-1,0.0,-5.317419,0.213988,SemiLopezDavydenko,DubaiMens08,570365,male,0,1,127537,573,1,1,92384,-1,0,server,0,0,NaN,0.262180,0,0,0.000000,1,1,4,3,0,0,4,2,RC,1,7,6,0,15,6,68,4,202,22,2.0,4.0,NaN,NaN,NaN,NaN,2,1,1,38,RB,0,NaN,2,DubaiMens08,Feliciano López,Nikolay Davydenko,68,202,SemiLopezDavydenko,0,NaN,out,0.038,176,7,0.262180,0 1,15.0,0.0,0,1,15.0,15.0,0,True
8,LOPEZ,DAVYDENKO,0,0.0,6.607439,4.781987,SemiLopezDavydenko,DubaiMens08,571193,male,2,2,127755,573,1,1,92538,1,0,server,0,0,NaN,-0.616384,1,0,0.000000,0,0,5,5,1,1,4,5,LS,3,10,9,30,30,6,202,4,68,135,4.0,6.0,6.0,4.0,5.0,4.0,4,2,0,28,RB,0,NaN,1,DubaiMens08,Nikolay Davydenko,Feliciano López,68,202,SemiLopezDavydenko,0,NaN,out,0.028,1004,8,0.616384,2 2,30.0,30.0,0,0,60.0,60.0,0,True
9,DAVYDENKO,LOPEZ,-1,0.0,-5.497965,0.206658,SemiLopezDavydenko,DubaiMens08,570493,male,0,1,127577,573,1,1,92411,-1,0,server,0,0,NaN,0.254939,0,0,0.000000,1,1,1,0,0,1,0,0,RC,2,1,0,0,15,6,202,4,68,44,4.0,6.0,NaN,NaN,NaN,NaN,3,2,1,5,LN,0,NaN,1,DubaiMens08,Nikolay Davydenko,Feliciano López,68,202,SemiLopezDavydenko,0,NaN,in,0.005,304,9,0.254939,0 1,15.0,0.0,1,0,15.0,15.0,0,True
10,LOPEZ,DAVYDENKO,1,0.0,-5.593488,-0.014768,SemiLopezDavydenko,DubaiMens08,570255,male,1,2,127514,573,1,1,92367,1,0,server,0,0,NaN,0.034284,0,0,0.000000,1,0,3,1,0,0,0,3,RC,1,4,3,15,30,6,202,4,68,11,3.0,0.0,NaN,NaN,NaN,NaN,1,2,1,36,RC,0,NaN,1,DubaiMens08,Nikolay Davydenko,Feliciano López,68,202,SemiLopezDavydenko,1,0.0,in,0.036,67,10,0.034284,1 2,30.0,15.0,1,0,45.0,45.0,1,True
11,FISH,SPADEA,-1,13.0,11.153940,-3.887915,1stFishSpadea,Indianapolis07,1086778,male,3,3,273986,1245,6,5,199141,-1,0,receiver,0,0,NaN,0.258938,0,0,10.144928,1,0,3,3,1,1,2,3,LF,3,6,5,40,40,10,161,32,293,103,2.0,6.0,7.0,5.0,2.0,3.0,3,2,0,6,LN,0,NaN,1,Indianapolis07,Mardy Fish,Vince Spadea,161,293,1stFishSpadea,0,NaN,out,0.006,1884,11,0.258938,3 3,40.0,40.0,0,0,80.0,80.0,1,False
12,FISH,SPADEA,0,0.0,4.806996,4.177775,1stFishSpadea,Indianapolis07,1086324,male,0,0,273857,1245,1,1,199056,1,0,server,0,0,NaN,-0.003983,1,0,32.000000,0,0,2,2,0,1,1,2,LF,2,4,3,0,0,10,293,32,161,46,6.0,2.0,2.0,1.0,NaN,NaN,1,2,1,3,RF,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,out,0.003,1432,12,0.003983,0 0,NaN,NaN,0,1,0.0,0.0,0,True
13,SPADEA,FISH,1,12.0,-10.391200,4.012050,1stFishSpadea,Indianapolis07,1086389,male,4,3,273878,1245,5,5,199068,1,0,server,0,0,NaN,0.124647,0,0,0.000000,1,1,3,2,1,0,2,2,RF,2,5,4,50,40,10,293,32,161,51,6.0,2.0,2.0,2.0,NaN,NaN,3,1,0,27,LF,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,out,0.027,1496,13,0.124647,4 3,NaN,50.0,0,0,90.0,90.0,1,False
14,FISH,SPADEA,-1,0.0,4.830365,-2.795340,1stFishSpadea,Indianapolis07,1086853,male,2,1,274012,1245,1,1,199159,-1,0,server,0,0,NaN,1.694297,0,0,5.000000,1,0,4,4,1,1,3,4,LF,3,8,7,30,15,10,293,32,161,110,6.0,2.0,5.0,7.0,5.0,2.0,7,2,0,9,LB,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,in,0.009,1958,14,1.694297,2 1,15.0,30.0,1,1,45.0,45.0,0,True
15,FISH,SPADEA,-1,0.0,5.404097,-3.154841,1stFishSpadea,Indianapolis07,1086974,male,1,0,274046,1245,1,1,199185,-1,0,server,0,0,NaN,1.001489,0,0,51.428570,1,0,5,7,1,1,7,4,LF,3,12,11,15,0,10,161,32,293,126,2.0,6.0,7.0,5.0,6.0,5.0,4,1,1,21,LB,0,NaN,1,Indianapolis07,Mardy Fish,Vince Spadea,161,293,1stFishSpadea,0,NaN,in,0.021,2078,15,1.001489,1 0,15.0,0.0,1,0,15.0,15.0,0,True
16,SPADEA,FISH,1,0.0,6.229729,4.179011,1stFishSpadea,Indianapolis07,1086308,male,4,4,273853,1245,1,1,199054,1,0,server,0,0,NaN,-0.008209,1,0,0.000000,0,1,2,1,1,0,1,1,LF,2,3,2,50,50,10,161,32,293,42,2.0,6.0,1.0,1.0,NaN,NaN,2,1,0,55,LF,0,NaN,1,Indianapolis07,Mardy Fish,Vince Spadea,161,293,1stFishSpadea,0,NaN,in,0.055,1416,16,0.008209,4 4,NaN,50.0,1,1,90.0,90.0,0,True
17,SPADEA,FISH,0,0.0,-4.190720,4.219108,1stFishSpadea,Indianapolis07,1086605,male,1,0,273933,1245,1,1,199105,1,0,server,0,0,NaN,-0.058825,1,0,0.000000,0,1,1,0,1,1,0,0,RF,3,1,0,15,0,10,293,32,161,85,6.0,2.0,5.0,7.0,0.0,0.0,4,2,0,26,RB,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,in,0.026,1711,17,0.058825,1 0,NaN,50.0,1,1,15.0,90.0,0,True
18,FISH,SPADEA,1,0.0,6.473857,-2.581217,1stFishSpadea,Indianapolis07,1086329,male,1,0,273860,1245,1,1,199057,1,0,server,0,0,NaN,0.036855,0,0,32.000000,1,0,2,2,0,1,1,2,LS,2,4,3,15,0,10,293,32,161,47,6.0,2.0,2.0,1.0,NaN,NaN,2,2,1,37,RS,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,1,0.0,in,0.037,1437,18,0.036855,1 0,0.0,15.0,1,0,15.0,15.0,0,True
19,FISH,SPADEA,1,3.0,11.977690,2.997125,1stFishSpadea,Indianapolis07,1086909,male,1,3,274029,1245,2,2,199172,1,0,receiver,0,0,NaN,-0.039910,1,0,0.000000,0,0,4,6,1,1,5,4,LB,3,10,9,15,40,10,293,32,161,119,6.0,2.0,5.0,7.0,5.0,4.0,9,1,0,34,RB,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,out,0.034,2014,19,0.039910,1 3,40.0,15.0,0,0,55.0,55.0,1,False
20,FISH,SPADEA,-1,13.0,11.153940,-3.887915,1stFishSpadea,Indianapolis07,1086778,male,3,3,273986,1245,6,5,199141,-1,0,receiver,0,0,NaN,0.258938,0,0,10.144928,1,0,3,3,1,1,2,3,LF,3,6,5,40,40,10,293,32,161,103,6.0,2.0,5.0,7.0,3.0,2.0,6,2,1,28,LN,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,out,0.028,1884,20,0.258938,3 3,40.0,40.0,0,1,80.0,80.0,1,False
21,FISH,SPADEA,-1,0.0,-6.098412,-2.513701,1stFishSpadea,Indianapolis07,1086186,male,0,0,273818,1245,1,1,199030,-1,0,server,0,0,NaN,0.439577,0,0,0.000000,1,0,1,1,0,1,0,1,RS,2,2,1,0,0,10,161,32,293,29,2.0,6.0,0.0,1.0,NaN,NaN,1,2,0,10,LC,0,NaN,1,Indianapolis07,Mardy Fish,Vince Spadea,161,293,1stFishSpadea,1,1.0,out,0.010,1295,21,0.439577,0 0,NaN,NaN,0,0,0.0,0.0,0,True
22,SPADEA,FISH,-1,0.0,-6.541657,-1.152390,1stFishSpadea,Indianapolis07,1086861,male,0,0,274016,1245,1,1,199162,-1,0,server,0,0,NaN,-0.037644,1,0,10.714286,0,1,4,5,1,1,4,4,RS,3,9,8,0,0,10,293,32,161,112,6.0,2.0,5.0,7.0,5.0,3.0,8,2,0,38,LS,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,1,1.0,out,0.038,1966,22,0.037644,0 0,NaN,NaN,0,0,0.0,0.0,0,True
23,SPADEA,FISH,1,0.0,5.644001,-4.156304,1stFishSpadea,Indianapolis07,1086685,male,2,3,273959,1245,1,1,199122,1,0,server,0,0,NaN,0.008290,0,0,0.000000,1,1,2,1,1,1,1,1,LF,3,3,2,30,40,10,293,32,161,88,6.0,2.0,5.0,7.0,1.0,1.0,5,2,0,8,RN,0,NaN,2,Indianapolis07,Vince Spadea,Mardy Fish,161,293,1stFishSpadea,0,NaN,in,0.008,1791,23,0.008290,2 3,40.0,30.0,1,1,70.0,70.0,1,True
24,ANCIC,MURRAY,-1,24.0,9.483637,-4.272536,FinalMurayAncic,Marseille08,1483316,male,1,2,335550,1543,9,9,242924,-1,0,server,0,0,NaN,-0.130837,1,0,0.000000,0,0,5,3,0,0,3,4,LF,1,8,7,15,30,16,166,2,21,41,4.0,3.0,NaN,NaN,NaN,NaN,1,2,1,70,LB,0,NaN,2,Marseille08,Mario Ancic,Andy Murray,21,166,FinalMurayAncic,0,NaN,in,0.070,2513,24,0.130837,1 2,30.0,15.0,1,0,45.0,45.0,1,False
25,ANCIC,MURRAY,-1,3.0,6.525028,4.149409,FinalMurayAncic,Marseille08,1483598,male,1,3,335629,1543,2,2,242976,-1,0,receiver,0,0,NaN,0.014861,0,0,0.000000,1,1,3,2,0,1,3,1,LF,2,5,4,15,40,16,21,2,166,79,NaN,NaN,1.0,3.0,NaN,NaN,4,1,0,19,RF,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.019,2795,25,0.014861,1 3,15.0,40.0,1,1,55.0,55.0,1,False
26,MURRAY,ANCIC,1,0.0,-5.434023,4.143697,FinalMurayAncic,Marseille08,1483646,male,4,3,335642,1543,1,1,242984,1,0,server,0,0,NaN,0.024151,0,0,4.918033,1,0,3,3,1,0,2,3,RF,2,6,5,50,40,16,21,2,166,85,NaN,NaN,2.0,3.0,NaN,NaN,5,1,0,28,RF,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.028,2843,26,0.024151,4 3,50.0,NaN,1,1,90.0,90.0,1,True
27,ANCIC,MURRAY,0,0.0,-6.588117,-0.263128,FinalMurayAncic,Marseille08,1483743,male,2,0,335665,1543,1,1,243001,-1,0,server,0,0,NaN,-0.047884,1,0,24.000000,0,1,4,5,0,1,3,5,RS,2,9,8,30,0,16,166,2,21,97,NaN,NaN,5.0,3.0,NaN,NaN,3,1,0,49,LS,0,NaN,2,Marseille08,Mario Ancic,Andy Murray,21,166,FinalMurayAncic,1,1.0,out,0.049,2940,27,0.047884,2 0,15.0,15.0,0,0,30.0,30.0,0,True
28,ANCIC,MURRAY,-1,0.0,-6.343629,3.483389,FinalMurayAncic,Marseille08,1483748,male,2,1,335668,1543,1,1,243002,-1,0,server,0,0,NaN,0.193306,0,0,24.000000,1,1,4,5,0,1,3,5,RS,2,9,8,30,15,16,21,2,166,98,NaN,NaN,5.0,3.0,NaN,NaN,7,1,0,60,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.060,2945,28,0.193306,2 1,15.0,30.0,1,1,45.0,45.0,0,True
29,ANCIC,MURRAY,1,7.0,11.954210,2.281974,FinalMurayAncic,Marseille08,1482971,male,1,2,335476,1543,4,3,242876,1,0,receiver,0,0,NaN,-0.015020,1,0,0.000000,0,0,1,1,0,0,0,1,LB,1,2,1,15,30,16,21,2,166,4,1.0,0.0,NaN,NaN,NaN,NaN,1,2,0,12,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,out,0.012,2170,29,0.015020,1 2,15.0,30.0,0,0,45.0,45.0,1,False
30,MURRAY,ANCIC,-1,0.0,6.277228,-2.773454,FinalMurayAncic,Marseille08,1483552,male,0,1,335617,1543,1,1,242968,-1,0,server,0,0,NaN,0.261256,0,0,18.918919,1,0,3,1,1,0,1,2,LS,2,4,3,0,15,16,21,2,166,69,NaN,NaN,1.0,2.0,NaN,NaN,2,2,1,6,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,out,0.006,2749,30,0.261256,0 1,15.0,30.0,0,1,15.0,45.0,0,True
31,MURRAY,ANCIC,1,0.0,4.960584,4.053761,FinalMurayAncic,Marseille08,1483724,male,1,1,335659,1543,1,1,242996,1,0,server,0,0,NaN,0.118591,0,0,0.000000,1,0,3,5,1,0,4,3,LF,2,8,7,15,15,16,166,2,21,94,NaN,NaN,3.0,4.0,NaN,NaN,2,2,1,83,LS,0,NaN,2,Marseille08,Mario Ancic,Andy Murray,21,166,FinalMurayAncic,1,0.0,in,0.083,2921,31,0.118591,1 1,15.0,15.0,1,0,30.0,30.0,1,True
32,MURRAY,ANCIC,-1,0.0,6.277228,-2.773454,FinalMurayAncic,Marseille08,1483552,male,0,1,335617,1543,1,1,242968,-1,0,server,0,0,NaN,0.261256,0,0,18.918919,1,0,3,1,1,0,1,2,LS,2,4,3,0,15,16,21,2,166,75,NaN,NaN,1.0,2.0,NaN,NaN,3,2,1,8,LB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.008,2749,32,0.261256,0 1,0.0,15.0,1,0,15.0,15.0,0,True
33,ANCIC,MURRAY,1,0.0,5.191290,0.401325,FinalMurayAncic,Marseille08,1483660,male,0,0,335645,1543,1,1,242987,1,0,server,0,0,NaN,0.447599,0,0,24.561403,1,1,3,4,0,1,3,3,LC,2,7,6,0,0,16,21,2,166,88,NaN,NaN,3.0,3.0,NaN,NaN,6,1,0,45,RB,0,NaN,1,Marseille08,Andy Murray,Mario Ancic,21,166,FinalMurayAncic,0,NaN,in,0.045,2857,33,0.447599,0 0,0.0,0.0,1,1,0.0,0.0,0,True